body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(40, 43, 43);
}

.container {
  width: 100vw;
  height: 100%;
  margin: 0px 100px;
  padding: 2rem 0;
}

form {
  margin-top: 3rem;

  width: 100%;
  padding: 3rem;

  background: var(--red);
  border-radius: 10px;
}

form input {
  width: 80%;
  padding: 1rem 1.5rem;

  border: none;
  border-radius: 5px;

  /* outline: none; */
}

form button {
  width: 18%;

  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;

  background: var(--black);
  color: var(--white);
  font-weight: 700;
  margin-left: 1rem;
}

.container .results {
  width: 100%;
  margin-top: 1rem;
}

.container .results .result {
  display: flex;
  justify-content: space-between;

  padding: 1rem 2rem;

  border-radius: 5px;
  background: var(--black);

  color: var(--white);
}

.container .results .result .shorted {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container .results .result .shorted p {
  color: var(--red);
  font-weight: 700;
}

.container .results .result .shorted button {
  padding: 0.3rem 1rem;

  border-radius: 5px;
  border: 1px solid var(--red);
  background: transparent;
  font-weight: 700;

  color: var(--red);
}

.container .results .result .shorted button:hover {
  background: var(--red);
  color: var(--white);

  transition: all 0.2s ease-in-out;
}

.popup {
  display: none;
  position: absolute;

  bottom: 1rem;
  right: 1rem;

  background: var(--black);
  padding: 1rem;

  border-radius: 5px;

  color: var(--white);

  transition: all 0.2s ease-in-out;
}

.popup.active {
  display: block;

  transition: all 0.2s ease-in-out;
}

  

